{% extends "base.html" %}

{% block content %}

    <h1>{{ tool.Name }}</h1>

    <table class="info">
        <tr>
            <td class="name">Status</td>
            <td class="value"><span class="pill {{ tool.Status|slugify }}">{{ tool.Status }}</span></td>
        </tr>
        <tr>
            <td class="name">{% if tool.Status == "In Use" %}With{% else %}Location{% endif %}</td>
            <td class="value">{{ tool.Location }}</td>
        </tr>
        {% if tool.Notes %}
        <tr>
            <td class="name">Notes</td>
            <td class="value">{{ tool.Notes }}</td>
        </tr>
        {% endif %}
    </table>

    <form action="." method="POST">
        {% if tool.Status == "In Use" %}
            <label>Storage Location: {{ form.location }}</label>
            <input type="hidden" name="action" value="return">
            <button>Return</button>
            {% csrf_token %}
        {% else %}
            <label>Name and DECT: {{ form.location }}</label>
            <input type="hidden" name="action" value="checkout">
            <button>Check Out</button>
        {% endif %}
        {% csrf_token %}
    </form>
{% endblock %}
